{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["warn"],
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "newlines-between": "always"
      }
    ],
    "react-hooks/exhaustive-deps": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
