.courses__main {
  display: grid;
  grid-column-gap: 40px;
  padding-bottom: 40px;
}

.courses__main__filters {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.courses__main .course {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 50px;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
  padding: 32px;
  border-radius: 16px;
  margin-bottom: 24px;
}

.courses-empty {
  opacity: 0.5;
  text-align: center;
}

.courses__main .course h3 {
  font-size: 20px;
  margin-top: 0;
}

.course__right-column p {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.courses__main .course p {
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
}

.courses__main .course span {
  font-size: 12px;
  line-height: 14px;
}
