.header {
  border-bottom: 1px solid #21232934;
  background: #f5f5f7;
  position: fixed;
  width: 100%;
  top: 0;
  background: #f5f5f7;
  z-index: 1000;
}

.header .container {
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-spacer {
  height: 62px;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__links img {
  margin-left: 57px;
  cursor: pointer;
}

.header__links span {
  margin-left: 24px;
  font-size: 12px;
  line-height: 20px;
  color: var(--primary-font-color);
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .header__links span {
    display: none;
  }
}

.header__links button {
  padding: 10px 16px;
  font-size: 12px;
  line-height: 14px;
  margin-left: 24px;
}

.header .user {
  position: relative;
}

.header .popup {
  width: 185px;
  background: white;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 12px 16px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 40px;
  display: flex;
  flex-direction: column;
}

.header .popup span {
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  margin-left: 0;
}
