:root {
  --primary-color: #212329;
  --primary-font-color: #070707;
  --container-max-width: 1280px;
  --border-radius: 6px;
  --grid-columns: 1fr 1fr;
  --blue-color: #2f80ed;
}

@media screen and (max-width: 1368px) {
  :root {
    --inner-padding: 60px;
    --container-max-width: calc(100% - 2 * var(--inner-padding));
  }
}

@media screen and (max-width: 768px) {
  :root {
    --inner-padding: 30px;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --inner-padding: 20px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  outline: none;
  text-decoration: none;
}

button.primary {
  border: none;
  background: var(--primary-color);
  padding: 18px 40px;
  color: white;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.5s;
}

button.primary:hover {
  opacity: 0.5;
}

button.primary:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

h3 {
  margin: 24px 0;
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  line-height: 28px;
  margin: 20px 0;
}

p {
  font-size: 20px;
  line-height: 23px;
}

.grid {
  display: grid;
  grid-template-columns: var(--grid-columns);
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
}
